.header__erasmus{
  background-color: #004494;
}

.post{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}

.login{
  background-color:#E5E5E5;
  padding: 30px;
  border-color: #fff;
}

.footer_text{
  align-items: center;
  text-align: right;
  text-align: end;
}

textarea.form-control {
  outline: calc(5rem + 2px); 
  height: 9rem;
}
